<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bx.base.domain.dao.DemoMapper">

	<resultMap id="BaseResultMap" type="com.bx.base.domain.entity.Demo">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="TYPE" jdbcType="VARCHAR" property="type" />
		<result column="VALUE" jdbcType="VARCHAR" property="value" />
	</resultMap>

	<sql id="Base_Table">
		`demo`
	</sql>

	<sql id="Base_Column_List">
		ID, TYPE, VALUE
	</sql>

<!-- 根据主键查询数据 -->
	<select id="getInfoById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="Base_Table" />
		where ID = #{id,jdbcType=INTEGER}
	</select>
</mapper>
